<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hai from santhosh </title>
    <style >
      body{
        background-color: red;

      }
      h1{
        border: 10px solid green;
      }
      h3{
        background: 'green';
      }
    </style>
  </head>
  <body>
    <h1>it is the hai from santhosh with the firat templates </h1>
    <p>Current data and time :<b>{{ date }}</b></p>
    <ul>
      <li>name : {{ name}}</li>
      <li>age  : {{ age }}</li>
    </ul>
    </li>
    <h3>greetings:</h3>{{ message}}
  </body>

</html>
